<div class="m-5">
    <h5 class="mb-4">Register new Task31 account</h5>
    <form [formGroup]="registerForm">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username"
                placeholder="Enter your unique username" formControlName="username" required minlength="3">
        </div>
        <div *ngIf="username.invalid && ( username.dirty || username.touched)">
            <small *ngIf="username.errors.required" class="text-danger">Username is required</small>
            <small *ngIf="username.errors.minlength" class="text-danger">Username should at least be 3
                characters</small>
        </div><br>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password"
                formControlName="password" required minlength="6">
        </div>
        <div *ngIf="password.invalid && ( password.dirty || password.touched)">
            <small *ngIf="password.errors.required" class="text-danger">Password is required</small>
            <small *ngIf="password.errors.minlength" class="text-danger">Passworld should at least be 6 characters 
            </small>
        </div>
        <div class="form-group">
            <label for="repeatedPassword">Once more, just to be sure</label>
            <input type="password" class="form-control" id="repeatedPassword" name="repeatedPassword"
                placeholder="Repeat your password" formControlName="repeatedPassword">
        </div>

        <small *ngIf="password.value != repeatedPassword.value && ( repeatedPassword.dirty || repeatedPassword.touched) " class="text-danger">
            The repeated password does not match the password
        </small><br>

        <button type="button" class="btn btn-success btn-lg mt-3 mr-2 pl-4 pr-4" (click)="onSaveClicked()"
            [disabled]="registerForm.invalid || isLoading">Save</button>
        <button type="button" class="btn btn-secondary btn-lg mt-3" (click)="onCancelClicked()">Cancel</button>
        <div *ngIf="registerError">
            <br>
            <p class="alert alert-warning">{{ registerError }}</p>
            <br>
        </div>
        <div *ngIf="isLoading">
            <p>Registering your account...</p>
        </div>
    </form><br>

    <a routerLink="/login">I already have an account</a>
</div>